@model PagedList<ChargeModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<a href="/Charge/AddCharge">新增记录</a>

@*@Html.Action("AddCharge")*@
<hr />
@*@{Html.RenderAction("ChargeAmount","Charge");}*@


@*注意：为了使每次点击搜索按钮时都跳回第一页，BeginForm扩展方法中第二个参数用new RouteValueDictionary{{"id",""}}
    将页索引路由值指定为空值，否则若当前为第五页，则点击搜索按钮重新搜索后当前页仍然为第五页。*@
<fieldset>
    <legend>查询</legend>
    @using (Ajax.BeginForm("ChargeAmount", new RouteValueDictionary { { "pageNumber", "" } }, new AjaxOptions { UpdateTargetId = "ChargeList", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" }, { "class", "form-inline well" } }))
    {
        <span>种类：</span>
        @*<input type="text" name="Category" id="Category" placeholder="如：收入/支出" style="width: 120px" class="form-control" />*@
         @Html.DropDownList("Category",  new List<SelectListItem>
                    {
                     (new SelectListItem() {Text = "请选择", Value = "", Selected = true}),
                     (new SelectListItem() {Text = "收入", Value = "收入"}),
                     (new SelectListItem() {Text = "支出", Value = "支出"})
                    }, new { @class = "form-control" })
        <input type="submit" value="搜索(S)" accesskey="S" class="btn btn-default" />
    }
</fieldset>

<div id="ChargeList">
    @Html.Action("ChargeAmount")
    @*@Html.Partial("_ChargeAmount", Model)*@
</div>

@*@*使用RegisterMvcPagerScriptResource方法注册了MvcPager的jquery插件。http://www.webdiyer.com/mvcpager/docs/scriptresourceextensions/*@
@section Scripts{
    @{Html.RegisterMvcPagerScriptResource();}  
<script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>}








