
@{
    ViewBag.Title = "Index";
    Layout = "";
}

@*<a href="/Charge/AddCharge">新增记录</a>*@

@*@Html.Partial("_AddCharge")*@
<hr />
@*@{Html.RenderAction("ChargeAmount","Charge");}*@
@Html.Action("ChargeAmount")
