<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <configSections>
    <!-- Add log4net config section 详情了解 http://www.cnblogs.com/dragon/archive/2005/03/24/124254.html-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <log4net debug="true">
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
      <param name="File" value="logs\log-file.txt" />
      <!--日志最大可备份数--><!--
      <maxSizeRollBackups value="10"/>
      --><!--日志文件大小--><!--
      <maximumFileSize value="1024KB"/>-->
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--Header和Footer标签提供了一个日志会话(logging session)开始和结束时输出的文字-->
        <!--<param name="Header" value="[Header]"/>
        <param name="Footer" value="[Footer]"/>-->
        <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%t] %-5p %c - %m%n" />
      </layout>
      <!--LevelRangeFilter过滤器记录LevelMin和LevelMax参数指定的日志级别之间的日志事件-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>

    <appender name="dailyAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\dailyWebLog.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.log&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout class="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss}  [ %t:%r ] - [ %p ]  %m%n  "/>
      </layout>
    </appender>

    <root>
      <!--配置日志的级别，低于此级别的就不写到日志里面去-->
      <level value="ERROR" />
        <!--<appender-ref>声明了在其他地方定义的Appender对象的一个引用-->
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="LogFileAppender" />
        <appender-ref ref="dailyAppender" />
    </root>
    
  </log4net>

</configuration>
