@{
    ViewBag.Title = "Home Page";
}

<div id="ChargeList">
    @Html.Action("ChargeAmount","Charge")
</div>

@section Scripts{
    @{Html.RegisterMvcPagerScriptResource();}
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>}